Alias /.well-known/acme-challenge /usr/local/rmnetdov/interface/acme/.well-known/acme-challenge
<Directory /usr/local/rmnetdov/interface/acme/.well-known/acme-challenge>
		<tmpl_if name='apache_version' op='>' value='2.2' format='version'>
		Require all granted
		<tmpl_else>
        Order allow,deny
        Allow from all
		</tmpl_if>
        <IfModule mpm_itk_module>
           AssignUserId rmnetdov rmnetdov
        </IfModule>
</Directory>

