# You can use this file for custom Postfix settings. The used settings will overrule the settings set by RM-Net - DOV CP.
# Use with caution!
# Put this file in /usr/local/rmnetdov/server/conf-custom/install/ and make your changes there.
