[install]
language=sl
install_mode=standard
hostname=server1.example.com
mysql_hostname=localhost
mysql_port=3306
mysql_root_user=root
mysql_root_password=rmnetdov
mysql_database=dbrmnetdov
mysql_charset=utf8
http_server=apache
rmnetdov_port=8090
rmnetdov_use_ssl=y
rmnetdov_admin_password=admin
create_ssl_server_certs=y
ignore_hostname_dns=n
rmnetdov_postfix_ssl_symlink=y
rmnetdov_pureftpd_ssl_symlink=y

[ssl_cert]
ssl_cert_country=AU
ssl_cert_state=Some-State
ssl_cert_locality=Chicago
ssl_cert_organisation=Internet Widgits Pty Ltd
ssl_cert_organisation_unit=IT department
ssl_cert_common_name=server1.example.com
ssl_cert_email=hostmaster@example.com

[expert]
mysql_rmnetdov_user=rmnetdov
mysql_rmnetdov_password=afStEratXBsgatRtsa42CadwhQ
join_multiserver_setup=n
mysql_master_hostname=master.example.com
mysql_master_root_user=root
mysql_master_root_password=rmnetdov
mysql_master_database=dbrmnetdov
configure_mail=y
configure_jailkit=y
configure_ftp=y
configure_dns=y
configure_apache=y
configure_nginx=y
configure_firewall=y
install_rmnetdov_web_interface=y

[update]
do_backup=yes
mysql_root_password=rmnetdov
mysql_master_hostname=master.example.com
mysql_master_root_user=root
mysql_master_root_password=rmnetdov
mysql_master_database=dbrmnetdov
reconfigure_permissions_in_master_database=no
reconfigure_services=yes
rmnetdov_port=8090
create_new_rmnetdov_ssl_cert=no
reconfigure_crontab=yes
create_ssl_server_certs=y
ignore_hostname_dns=n
rmnetdov_postfix_ssl_symlink=y
rmnetdov_pureftpd_ssl_symlink=y

; These are for service-detection (defaulting to old behaviour where alle changes were automatically accepted)
svc_detect_change_mail_server=yes
svc_detect_change_web_server=yes
svc_detect_change_dns_server=yes
svc_detect_change_xmpp_server=yes
svc_detect_change_firewall_server=yes
svc_detect_change_vserver_server=yes
svc_detect_change_db_server=yes
